.cv-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

.cv-button:hover {
    background-color: #45a049;
}

h1, .post-title {
    border: none;  /* Remove any border */
    text-decoration: none;  /* Remove underline */
}